body {
  font-family: sans-serif, arial, helvetica;
  font-size: 2em;
}

.blue-button {
  border: none;
  background: inherit;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: dodgerblue;
}

.blue-button:hover {background: #eee;}


#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#current-image-name {
  font-weight: bold;
}

#image {
  flex-grow: 1;
}
#content {
  flex-grow: 0;
}

button {
  width: fit-content;
}

img {
  position: absolute;
  pointer-events: initial;
}

canvas {
  position: relative;
  border: 1px solid #eee;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
}
.right {
  width: max-content;
  margin-left: auto;
}

