body {
  font-family: sans-serif, arial, helvetica;
  font-size: 2em;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#current-image-name {
  font-weight: bold;
}
#image {
  flex-grow: 1;
}
#content {
  flex-grow: 0;
}

button {
  width: fit-content;
}

img {
  position: absolute;
  pointer-events: initial;
}

canvas {
  position: relative;
  border: 1px solid #eee;
  z-index: 20;
}

.right {
  width: max-content;
  margin-left: auto;
}
